.Shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 50px;
}

.btn-different{
    background-color: #FF9900;
    width: 100%;
    margin: 10px auto;
    color: white;
    border-radius: 5px;

}